<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="     http://java.sun.com/xml/ns/j2ee     http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <welcome-file-list>
        <welcome-file>StartPage</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Controllers.Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <servlet-name>StartPage</servlet-name>
        <servlet-class>Controllers.StartPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartPage</servlet-name>
        <url-pattern>/StartPage</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Controllers.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controllers.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <servlet-name>SchoolPage</servlet-name>
        <servlet-class>Controllers.SchoolPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SchoolPage</servlet-name>
        <url-pattern>/SchoolPage</url-pattern>
    </servlet-mapping>
    
    
</web-app>
