#container {
font-family: Arial;
color: #3333AA;
border-right: 15px solid #123456;
border-left: 15px solid #123456;
border-top: 15px solid #123456;
border-bottom: 15px solid #123456;
min-width:1000px;
}

#header{
width: 100%;
height: 20%;
border-bottom: 2px solid #000000;

}

#headerImg{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#leftnav{
float: left;
width: 18%;
height: 1000px;
background-color: #cfcffc;
border-right: 1px dashed #AA44AA;
text-align: center;
clear: left;
}

#rightnav{
float: right;
Width: 18%;
height: 1000px;
background-color: #cfcffc;
border-left: 1px dashed #AA44AA;
font-size: 20px;
text-align: center;
max-height:1000px;
overflow: scroll;
}

#body{
width: 64%;
font-size: 20px;
margin-left: auto;
margin-right: auto;
height: 1000px;
text-align: center;
background-color: #dfdffd;
}

#messageBlock{
border: 1px dashed #44AAAA;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
background-color: #bfbffc;
}

#message{
color: black;
}

#messageReply{
color: green;
border: 1px dashed #44AAAA;
padding: 5px;
margin: 3px;
background-color: #aeaefc;
}

#messageText{
font-size: 14px;
}

#messageDetails{
font-size: 10px;
font-style: italic;
}

#profileName{
text-align: center;
background-color: #dfdffd;
font-size: 35px;
padding: 30px;
border-bottom: 1px solid #000000;
}

#infoBox{
}

#description{
margin: 20px;
border: 1px solid #44AAAA;
}

#userSchoolBox{
float: right;
margin-right: 10%;
border: 1px solid #44AAAA;
}

#userSchoolBoxComponent{
padding:10px;
margin: 10px;
}

#schoolmateBox{
float: left;
margin-left: 10%;
padding: 5px;
border: 1px solid #44AAAA;
}

#schoolBox{
margin-left: 40%;
margin-right: 40%;
padding: 5px;
border: 1px solid #44AAAA;
}

#schoolDetails{
    font-size: 25px;
    padding-top: 100px;
}

#schoolPeople{
    Padding-top:50px;
}

#schoolDate{
    padding-top:100px;
}